<!--SEO-->
{% seo %}
<!-- start custom head snippets -->
<!-- Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-96037973-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-96037973-2');
</script>
<!-- ReCaptcha -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/images/favicons/site.webmanifest">
<link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<!--JSON-LD Schema.org -->
<!-- JSON-LD: WebSite -->
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "WebSite",
  "name": "Doctrine of Discovery Project",
  "url": "https://doctrineofdiscovery.org/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://doctrineofdiscovery.org/search/?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

<!-- JSON-LD: Organization -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Doctrine of Discovery Project",
  "alternateName": "Doctrine of Christian Discovery",
  "url": "https://doctrineofdiscovery.org/",
  "logo": "https://doctrineofdiscovery.org/assets/images/logo.png",

  "foundingDate": "2007",

  "description": "The Doctrine of Discovery Project advances public education, research, and advocacy to challenge domination, dispossession, and the legacy of Christian Discovery in law, religion, and society.",


  "founders": [
    {
      "@type": "Person",
      "name": "Philip P. Arnold",
      "url": "https://artsandsciences.syracuse.edu/people/faculty/arnold-philip-p/"
    },
    {
      "@type": "Person",
      "name": "Sandy Bigtree",
      "url": "https://indigenousvalues.org/about/our-team/"
    },
    {
      "@type": "Person",
      "name": "Adam DJ Brett",
      "url": "https://adamdjbrett.com"
    }
  ],

  "memberOf": [
    {
      "@type": "Organization",
      "name": "Indigenous Values Initiative",
      "url": "https://indigenousvalues.org/"
    },
    {
      "@type": "Organization",
      "name": "American Indian Law Alliance",
      "url": "https://aila.ngo/"
    }
  ],

  "contactPoint": [
    {
      "@type": "ContactPoint",
      "contactType": "General Inquiries",
      "name": "Philip P. Arnold",
      "email": "info@indigenousvalues.org",
      "availableLanguage": ["en"],
      "areaServed": "International"
    }
  ],

  "address": {
    "@type": "PostalAddress",
    "streetAddress": "P.O. Box 336",
    "addressLocality": "DeWitt",
    "addressRegion": "NY",
    "postalCode": "13214-9211",
    "addressCountry": "US"
  },

  "email": "info@indigenousvalues.org",

  "sameAs": [
    "https://aila.social/",
    
    "https://dofd.info/",
    "https://aila.ngo/",
    "https://indigenousvalues.org/",
    "https://facebook.com/indigenousvalues",
    "https://twitter.com/ailanyc",
    "https://twitter.com/indigenousVI",
    "https://www.facebook.com/americanindianlawalliance",
    "https://www.facebook.com/doctrineofdiscovery",
    "https://www.facebook.com/indigenousvalues",
    "https://www.instagram.com/americanindianlawalliance/",
    "https://www.instagram.com/indigenousvalues/",
    "https://www.linkedin.com/company/american-indian-law-alliance/",
    "https://www.linkedin.com/company/indigenous-values-initiative/",
    "https://www.linkedin.com/showcase/mapping-the-doctrine-of-discovery-podcast/",
    "https://www.youtube.com/@aila-ngo",
    "https://bsky.app/profile/aila.social",
    "https://youtube.com/c/IndigenousValuesInitiative"
  ],

  "funder": [
    "https://indigenousvalues.org/",
    "https://aila.ngo/"
  ]
}
</script>

<!-- end custom head snippets -->
