<!--SEO-->
{% seo %}
<!-- start custom head snippets -->
<!-- Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-96037973-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-96037973-2');
</script>
<!-- ReCaptcha -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/images/favicons/site.webmanifest">
<link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- JSON-LD Schema Website-->
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "WebSite",
  "name": "Doctrine of Discovery",
  "url": "https://doctrineofdiscovery.org/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
<!-- JSON-LD Schema Organization -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Doctrine of Discovery",
  "alternateName": "Doctrine of Christian Discovery",
  "url": "https://doctrineofdiscovery.org/",
  "logo": "https://doctrineofdiscovery.org//assets/images/logo.png",
  "sameAs": [
    "https://www.facebook.com/Doctrine-of-Discovery-115693763603203",
    "https://twitter.com/indigenousVI",
    "https://twitter.com/ailanyc",
    "https://facebook.com/indigenousvalues",
    "https://www.facebook.com/americanindianlawalliance",
    "https://youtube.com/c/IndigenousValuesInitiative"
  ],
  "funder": [
  "https://indigenousvalues.org/",
  "http://aila.ngo/"
  ]
}
</script>

<!-- end custom head snippets -->
