
# Created by https://www.toptal.com/developers/gitignore/api/jekyll
# Edit at https://www.toptal.com/developers/gitignore?templates=jekyll

### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
.icloud
.DS_Store
Gemfile.lock
vendor/
*.gem
*.rb
!_plugins/standard_site.rb
!_plugins/post_metadata_json.rb

# End of https://www.toptal.com/developers/gitignore/api/jekyll
