
<h2 class="suggested-citation-header">{{ site.data.snippets.suggested-citation }}</h2>
    <div class="suggested-citation-text">
      <p class="suggested-citation-text">
        {% assign author = page.author | default: page.authors[0] | default: site.author %}
        {% assign author = page.authors | default: author %}
        {{ author.name }},
        {{ site.data.snippets.title-open-quote }}{{ page.title | strip }}{{ site.data.snippets.title-close-quote }}
        {% if page.translator %}
        {{ site.data.snippets.translator }}
        {{ page.translator }},{% endif %}
        <em>{{ site.data.snippets.journal-title }}</em> ({{ page.date | date: "%-d %B %Y" }}),
        {{ site.url }}{{ page.url }}.</p>
    </div>
  </div>
